.hero {
  .hero__description {
    &.warning__main-risk-warning,
    &.warning__main-risk-warning p {
      color: #0B76B5;
      font-size: 1.7rem;
      line-height: 2.4rem;
    }
  }
}

@media screen and (max-width: 787px){
.hero {
  .hero__description {
    &.warning__main-risk-warning,
    &.warning__main-risk-warning p {
      font-size: 1.125rem;
      line-height: 1.45rem;
    }
  }
}


}