.date-custom {
  display: block;
  width: 100%;
  > * {
    float: left;
  }
  .day {
    width: 18%!important;
    margin-right: 4%;
  }
  .month {
    width: 18%!important;
    margin-right: 4%;
  }
  .year {
    width: 28%!important;
  }
}

.file-custom {
  display: block;
  width: 100%;
  text-align: right;
  position: relative;
  > strong {
    float: left;
  }
  input[type="file"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    + small {
      font-size: toRem(16);
      display: inline-block;
      color: $alizarin;
      cursor: pointer;
      margin-right: toRem(15);
      pointer-events: none;
    }
  }
}

.checkbox-custom {
	position: relative;
	padding-left: toRem(30);
	min-width: toRem(25);
  display: block;
  min-height: toRem(25);
  float: left;
  margin-bottom: toRem(30);
  + label {
		overflow: hidden;
		display: block;
		font-size: toRem(14);
		line-height: 1.9;
		color: #b0bec5!important;
		a {
			display: inline-block;
		}
  }
	input[type="checkbox"] {
  	opacity: 0;
  	position: absolute;
  	right: 0;
  	left: 0;
  	top: 0;
  	bottom: 0;
  	width: toRem(25);
  	z-index: 9;
  	cursor: pointer;
  	&:checked {
  		+ small {
				&:before {
					top: 3px;
					bottom: 3px;
					right: 3px;
					left: 3px;
					background: #058bcd;
					content: '';
					position: absolute;
					display: block;
				}
  		}
  	}
  }
  small {
  	position: absolute;
  	left: 0;
  	top: 0;
  	width: toRem(25);
		height: toRem(25);
		display: block;
		background: transparent;
  	border: 1px solid #cfd8dc;
  	content: '';
	}
}
.radio-custom {
  position: relative;
	min-height: toRem(23);
	display: inline-block;
	padding-left: toRem(30);
	margin-right: toRem(45);
	margin-top: toRem(5);
	margin-bottom: toRem(20);
	small {
  	position: absolute;
  	left: 0;
  	top: 0;
  	width: toRem(23);
		height: toRem(23);
		display: block;
		background: transparent;
  	border: 1px solid #cfd8dc;
  	border-radius: 50%;
  	content: '';
	}
  input[type="radio"] {
  	opacity: 0;
  	position: absolute;
  	right: 0;
  	left: 0;
  	top: 0;
  	bottom: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 9;
  	cursor: pointer;
  	&:checked {
  		+ small {
				&:before {
					top: 3px;
					bottom: 3px;
					right: 3px;
					left: 3px;
					background: #058bcd;
					content: '';
					position: absolute;
					display: block;
					border-radius: 50%;
				}
  		}
  	}
  }
}