.txt-gradient {
	display: table;
  margin: 0 auto;
  color: $indigo;
  -webkit-text-fill-color: transparent;
  background: -moz-linear-gradient(130deg, $gradient-txt1-from 0%, $gradient-txt1-to 100%);
  background: linear-gradient(130deg, $gradient-txt1-from 0%, $gradient-txt1-to 100%);
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
	&:hover {
		color: $indigo!important;
	}
	&.txt-dotted-underline {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			bottom: 2px;
			left: 0;
			height: 1px;
			width: 100%;
			background-size: 10px 13px;
			background-image: -webkit-linear-gradient(right, $gradient-txt1-from 0%, $gradient-txt1-to, rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
			background-image: -moz-linear-gradient(right, $gradient-txt1-from 0%, $gradient-txt1-to, rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
			// -webkit-linear-gradient(bottom, $gradient-txt1-from 0%, $gradient-txt1-to 8%, $gradient-txt1-from 100%);
			// background: #444;
		 //  background: linear-gradient(130deg, $gradient-txt1-from 0%, $gradient-txt1-to 100%);
		 //  background: -o-linear-gradient(transparent, transparent);
		}
	}

}