@function nest-adjacent-selector($sel) {
    $new-sel: ();
    @each $s in $sel {
        $last: nth($s, -1);
        $new-sel: append($new-sel, $s #{'+'} $last, comma);
    }
    @return $new-sel;
}

@function toRem($size) {
  $remSize: $size / $base-font-size;
  @return $remSize * 1rem;
}
@function toEm($size) {
  $emSize: $size / $base-font-size;
  @return $emSize * 1em;
}