@mixin respond-to-max($custom) {
  @media only screen and (max-width: $custom - 1) {
    @content;
  }
}

@mixin respond-to-min($custom1) {
  @media only screen and (min-width: $custom1) {
    @content;
  }
}

@mixin respond-min-max($custom2, $custom3) {
  @media only screen and (min-width: $custom2) and (max-width: $custom3) {
    @content;
  }
}

@mixin respond-min-max-o($custom2, $custom3, $orientation) {
  @media only screen and (min-width: $custom2) and (max-width: $custom3) and (orientation : $orientation) {
    @content;
  }
}

@mixin respond-to-min-out-max($custom3, $custom2) {
  @media only screen and (max-width: $custom3 - 1), only screen and (min-width: $custom2 + 1) {
    @content;
  }
}


@mixin clearfix {
  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}
 
@mixin font-size($size) {
  font-size: $size;
  font-size: toRem($size);
}
