.benefits {
	padding-top: toRem(40);
	.benefits__title {
		font-size: toRem(60);
		font-weight: $font-weight-thin;
		color: $tuatara;
		display: block;
		text-align: center;
		margin: 0;
		padding-bottom: toRem(70);
	}

	.benefits__item {
		text-align: center;
		font-size: toRem(16);
		line-height: 1.8;
		color: $limed-spruce;
		display: inline-block;
		margin-right: -4px;
		float: none;
		vertical-align: top;
		padding: 0 toRem(40) toRem(50);
		outline: none;
	}
	.benefits__icon {
		fill: $lochmara;
		width: toRem(115);
		height: toRem(115);
		position: relative;
		display: block;
		margin: auto;
		margin-bottom: toRem(30);
		&:before {
			content: '';
			position: absolute;
			border: 1px solid #d6dde1;
			display: block;
			width: toRem(115);
			height: toRem(115);
			// left: toRem(-26);
			// top: toRem(15);
			left: 0;
			top: 0;
			border-radius: 50%;
		}
		> svg {
			width: toRem(66);
			height: toRem(66);
			margin: toRem(25) auto;
		}
	}

	@include respond-to-max($mobile) {
		padding-top: toRem(10);
		.benefits__item {
			width: 100%;
		}
		.benefits__title {
			font-size: toRem(30);
		}
	}
}