.process {
	padding: toRem(35) 0 toRem(45) 0;
	.process__header {
		padding-bottom: toRem(55);
		.header__title {
			font-size: toRem(60);
			font-weight: $font-weight-thin;
			color: $white;
			margin-top: toRem(35);
			margin-bottom: toRem(25);
		}
		.header__text {
			font-size: toRem(24);
			font-weight: $font-weight-light;
			color: $regent-blue;
		}
	}

	.process__steps {}
	.process__step {
		text-align: center;
		position: relative;
		padding: 0 toRem(20) toRem(50) toRem(20);
		> a {
			.step__title {
				color: $white;
			}
			&:hover {
				.step__text {
					color: $white;
				}
			}
		}
		.step__wrap {
			min-height: toRem(160);
    	display: inline-block;
		}
		.step__link {
			font-size: toRem(14);
			color: rgba($white, 0.8);
			&:hover, &:focus {
				color: $white;
			}
		}
		.step__icon {
			fill: $regent-blue;
			width: toRem(78);
			height: toRem(78);
			vertical-align: bottom;
			margin-bottom: toRem(25);
		}
		.step__arrow {
			position: absolute;
			width: toRem(35);
			height: toRem(35);
			left: 100%;
			top: toRem(20);
			margin-left: toRem(-10);
			fill: rgba($regent-blue, 0.6);
		}
		.step__title {
			font-size: toRem(14);
			font-weight: $font-weight-bold;
			line-height: 1.7;
		}
		.step__text {
			font-size: toRem(14);
			line-height: 1.7;
			font-weight: $font-weight-regular;
			color: $regent-blue;
		}
	}

	&.process-style2 {
		padding-bottom: toRem(60);
		.process__step {
			text-align:left;
			padding: 0 toRem(60) toRem(55) toRem(60);
		}
	}
	@include respond-to-max($tablet) {
		&.process-style2 {
			.process__step {
				padding: 0 toRem(30) toRem(50) toRem(30);
			}
		}
	}
	@include respond-to-max($mobile) {
		&.process-style2 {
			.process__step {
				padding: 0 toRem(65) toRem(50) toRem(65);
				text-align:justify;
			}
			.process__header {
				padding-bottom: toRem(20);
				.header__title {
					width: 50%;
					margin: auto;
				}
			}
		}
		.process__header {
			.header__title {
				font-size: toRem(30);
				margin-top: toRem(15);
				margin-bottom: toRem(15);
			}
			.header__text {
				font-size: toRem(18);
			}
		}
	}
}