.xform {
	padding: toRem(70) 0 toRem(112.5) 0;
	.xform__title {
		font-size: toRem(60);
		font-weight: $font-weight-thin;
		text-align: center;
		margin-bottom: toRem(60);
	}

	@include respond-to-max($mobile) {
		padding: toRem(20) 0 toRem(30) 0;
		.xform__title {
			font-size: toRem(30);
		}
	}
}